.contribution-graph-container {
  width: 100%;
  height: 80px; /* Adjust height as needed */
  position: relative;
  margin-top: 10px;
  background-color: #000;
  border-radius: 8px;
  padding: 5px;
  box-sizing: border-box;
}

.contribution-graph .recharts-line-curve {
  stroke: #4CAF50; /* Green line */
  stroke-width: 2;
}

.contribution-graph .recharts-line-dot {
  fill: #4CAF50;
  stroke-width: 0;
} 