.product-card {
  background-color: #fff;
  padding: 18px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.product-card h2 {
  font-size: 21px;
  font-weight: 700;
  margin: 0 0 10px 0;
  line-height: 1.3;
}

.product-card__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px 10px;
  flex-grow: 1;
}

.product-card__item-link {
  text-decoration: none;
  color: inherit;
}

.product-card__item-image-container {
  height: 100px;
  margin-bottom: 5px;
}

.product-card__item-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-card__item-link span {
  font-size: 12px;
}

.product-card__footer {
  margin-top: 5px;
  font-size: 14px;
  color: #007185;
  text-decoration: none;
}

.product-card__footer:hover {
  color: #C7511F;
  text-decoration: underline;
}

/* Styles for single image cards */
.product-card__single-image-container {
  flex-grow: 1;
  margin-bottom: 10px;
  height: 120px;
}

.product-card__single-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-card__single-caption {
  font-size: 14px;
}

/* Styles for the sign-in card variant */
.product-card--signin {
  padding: 15px;
  padding-bottom: 30px;
  height: auto;
  flex-grow: 0;
}

.product-card--signin h2 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 8px;
}

.product-card--signin button {
  background-color: #FFD814;
  border-color: #FCD200;
  border-radius: 20px;
  padding: 12px;
  width: 100%;
  border-style: solid;
  border-width: 0px;
  cursor: pointer;
  font-weight: 500;
  margin-top: 10px;
}

.product-card--sponsored {
    flex-grow: 1;
}

.product-card-simple {
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    max-width: 200px;
    flex-shrink: 0;
  }
  
  .product-card-simple a {
    text-decoration: none;
    color: inherit;
  }
  
  .product-card-simple__image {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .product-card-simple__image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
  
  .product-card-simple__info {
    padding: 10px;
  }
  
  .product-card-simple__title {
    font-size: 14px;
    line-height: 1.3;
    margin-bottom: 5px;
    height: 55px;
    overflow: hidden;
  } 