.search-results-page {
  display: grid;
  grid-template-columns: 210px 1fr;
  padding: 20px;
}

.search-results-main {
  padding-left: 20px;
  border-left: 1px solid #e0e0e0;
}

.search-results-title {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.search-results-list {
  display: grid;
  margin-top: 10px;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 20px;
  row-gap: 60px;
}

.product-card-link {
  text-decoration: none;
  color: inherit;
}
.search-recommend-section {
  margin-top: 50px;
}
